body {
    background: #111827;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: #1f2933;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #374151;
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}